<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kakook Admin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/adminmain.css">
    <link rel="stylesheet" href="../static/css/adminmain.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="/static/js/adminmain.js" defer></script>
    <script src="/static/js/adminwebsocket.js" defer></script>
    <script src="/static/js/adminnarrative.js" defer></script>
</head>
<body>
<div class="content">
    <div class="waiting-players">
        <button id="start-game">Start game</button>
        <span class="to-connect">To connect, open: <span th:text="${ip}" class="ip"></span></span>
        <div class="nicknames"></div>
    </div>

    <div class="game-starting table">
        <div>
            Prepare yourself!<br>
            Game is starting!
        </div>
    </div>

    <div class="question-wrapper">
        <div class="question">What type of tehcnologies did we use during our last week?</div>
        <div class="answer-statistic"></div>
        <div class="answer-wrapper">
            <span class="answer" id="answer1">Javascript, html jquery</span>
            <span class="answer" id="answer2">Webcosket</span>
            <span class="answer" id="answer3">SQL with java jql</span>
            <span class="answer" id="answer4">None of them abowe was used during the week</span>
        </div>
    </div>


</div>
</body>
</html>