<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kakook</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" defer></script>
    <script src="/static/js/main.js" defer></script>
    <script src="/static/js/websocket.js" defer></script>
    <script src="/static/js/narrative.js" defer></script>
</head>
<body>
    <div class="content">

        <div class="nickname-input table">
            <div>
                <label for="nickname">Kakook!</label><br>
                <input id="nickname" placeholder="Your Nickname" type="text" maxlength="17"><br>
                <button>Enter game</button>
            </div>
        </div>

        <div class="loading-screen table">
            <div>
                <span class="nickname"></span><br>
                <span>We are waiting for other players</span><br>
                <i class="fas fa-circle-notch fa-spin fa-4x"></i>
            </div>
        </div>

        <div class="game-starting table">
            <div>
                Prepare yourself!<br>
                Game is starting!
            </div>
        </div>

        <div class="waiting-for-answer table">
            <div>
                Your answer:<span class="answer-number"> 1</span>
            </div>
        </div>

        <div id="answer-selector">
            <button id="1">1</button>
            <button id="2">2</button>
            <button id="3">3</button>
            <button id="4">4</button>
        </div>


        <div class="answer wrong-answer table">
            <div>
                <span>Wrong answer!</span>
                <i class="fas fa-times fa-5x"></i>
                <span>Your rank:<span class="rank">1</span></span>
                <span>Your points:<span class="points">1</span></span>
            </div>
        </div>

        <div class="answer good-answer table">
            <div>
                <span>Good answer!</span>
                <i class="fas fa-check fa-5x"></i>
                <span>Your rank:<span class="rank">1</span></span>
                <span>Your points:<span class="points">1</span></span>
            </div>
        </div>
    </div>
</body>
</html>