body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.table {
    width: 100vw;
    height: 100vh;
    display: table;
}

.table div:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.waiting-players {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

.waiting-players .to-connect{
    border-bottom: 1px solid black;
    color: white;
    background-color: blue;
    padding: 40px 0 40px 0;
    font-size: 2.8em;
    text-align: center;
    display: block;
}

.waiting-players .ip{
    margin-left: 30px;
    font-weight: bold;
}

.waiting-players button {
    border: none;
    background: white;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.4em;
}

.waiting-players .nicknames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.waiting-players .nickname {
    font-size: 1.5em;
    padding: 8px;
}

.game-starting {
    display: none;
    color: white;
    font-size: 2.4em;
    line-height: 1.9em;
    background-color: red;
}

.question-wrapper {
    display: none;
}

.question-wrapper .question {
    padding: 30px;
    color: black;
    font-size: 3em;
    text-align: center;
}

.question-wrapper .answer-wrapper {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 1fr;
    padding: 20px;
    width: calc(100vw - 40px);
}

.question-wrapper .answer-wrapper .answer {
    padding: 30px 30px 30px 0;
    font-size: 2em;
    min-height: 75px;
}

.question-wrapper .answer-wrapper table {
    table-layout: auto;
    min-height: 75px;
}

.question-wrapper .answer-wrapper table td{
    padding-left: 30px;
}

.question-wrapper .answer-wrapper table .check{
    width: 100%;
}

.question-wrapper .answer-wrapper #answer1 {
    background-color: red;

}

.question-wrapper .answer-wrapper #answer2 {
    background-color: blue;
}

.question-wrapper .answer-wrapper #answer3 {
    background-color: green;

}

.question-wrapper .answer-wrapper #answer4 {
    background-color: #ffa700;
}

#next-question {
    display: none;
}