body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    width: 100vw;
    height: 100vh;
    display: table;
}

.table div:first-child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.nickname-input {
    background-color: green;
}

.nickname-input label {
    font-size: 3.8em;
    color: white;
    margin: 10px;
}

.nickname-input input {
    width: 200px;
    font-size: 1em;
    margin: 5px;
    border: 0;
    padding: 10px;
}

.nickname-input button {
    width: 220px;
    margin: 5px;
    font-size: 1em;
    border: 0;
    padding: 10px;
    background: black;
    color: white;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.nickname-input button:hover {
    background: white;
    color: black;
}

#answer-selector {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#answer-selector button {
    position: absolute;
    color: white;
    font-size: 5em;
    width: 50vw;
    height: 50vh;
    margin: 0;
    padding: 0;
    border: 0;
}

#answer-selector #answer1{
    top: 0;
    left: 0;
    background-color: red;
}

#answer-selector #answer2{
    top: 0;
    right: 0;
    background-color: #fff139;
}

#answer-selector #answer3{
    bottom: 0;
    left: 0;
    background-color: green;
}

#answer-selector #answer4{
    bottom: 0;
    right: 0;
    background-color: blue;
}

.loading-screen {
    display: none;
    background-color: blue;
    color: white;
}

.loading-screen span {
    margin-top: 10px;
    padding: 0 15px 0 15px;
    font-size: 2.4em;
    display: block;
}

.loading-screen i {
    margin-top: 40px;
}

.game-starting {
    display: none;
    color: white;
    font-size: 2.4em;
    line-height: 1.9em;
    background-color: red;
}

.waiting-for-answer{
    display: none;
    color: white;
    background-color: blue;
    font-size: 2.4em;
}

.answer {
    display: none;
    color: white;
}

.answer span {
    font-size: 2.4em;
    display: block;
}

.answer i {
    margin-top: 40px;
    margin-bottom: 40px;
}

.answer .rank{
    display: inline-block;
    font-size: inherit;
    margin-left: 15px;
}

.wrong-answer {
    background-color: red;
}

.good-answer {
    background-color: green;
}